# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual studio
*.vs
/*/*vcxproj
*.sln
*.vcxproj*

# CLion
.idea
CMakeLists.txt
/cmake-build-debug

# Builds
*/x64
x64

# Big paf files
/HERA/overlap_reads_with_rc_ava_pb.paf
HERA/Debug/HERA.exe.recipe
HERA/Debug/HERA.ilk
HERA/Debug/HERA.pdb
HERA/Debug/HERA.log
HERA/Debug/vc143.pdb
*.tlog
